<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../Assets/light.png" alt="icon">
    <link rel="stylesheet" href="../../utilsCSS/getting-started.css" />
    <link rel="stylesheet" href="./image.css" />
    <link rel="stylesheet" href="../../utilsCSS/utilityClasses.css" />
    <script src="https://kit.fontawesome.com/e06444868d.js" crossorigin="anonymous"></script>
    <title>Images | Avid</title>
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="/index.html">
                <img class="logo" src="../../Assets/light.png" alt="logo" />
            </a>
        </div>

        <nav class="navbar">
            <ul>
                <a href="/index.html">
                    <li class="highlight">Home</li>
                </a>
                <a href="./getting-started.html">
                    <li class="highlight">Documentation</li>
                </a>
            </ul>
        </nav>
    </header>
    <section class="documentation">
        <aside class="sidebar">
            <div class="list-topic">
                <h4 class="highlight">Get Started</h4>
            </div>
            <ul>
                <li><a href="../../getting-started.html">Introduction</a></li>
                <!-- <li><a href="../Colors/colors.html">Colors</a></li>
          <li><a href="../Typography/typography.html">Typography</a></li> -->
            </ul>

            <div class="list-topic">
                <h4 class="highlight">Components</h4>
            </div>
            <ul>
                <li><a href="../Cards/card.html">Card</a></li>
                <li><a href="../Avatar/avatar.html">Avatar</a></li>
                <li><a href="../Alert/alert.html">Alert</a></li>
                <li><a href="../Badge/badge.html">Badge</a></li>
                <li><a href="../Buttons/buttons.html">Button</a></li>
                <li><a href="">Image</a></li>
                <li><a href="../Input/input.html">Input</a></li>
                <!-- <li><a href="./Components/>Navigation</a></li>
          <li><a href="./Components/">Snackbar</a></li> -->
            </ul>
        </aside>
        <main class="main-content">
            <div class="content-head">
                <h2 class="highlight"> Images</h2>
            </div>
            <div class="content">
                <p>
                    Images are a really imporatant part, Classes to make them look better
                </p>
            </div>


            <div class="divider"></div>
            <div class="content-warp">
                <div class="content-head">
                    <h2 class="highlight">Squared Image</h2>
                </div>
                <div class="content">

                    <div class="example">
                        <img class="sq-img"
                            src="https://images.pexels.com/photos/10824949/pexels-photo-10824949.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            alt="Lets call it a commet" />

                    </div>
                    <iframe class="code-example"
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=sharp&l=auto&width=680&ds=true&dsyoff=31px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%250A%2520%2520class%253D%2522sq-img%2522%250A%2520%2520src%253D%2522..someimage.jpg%2522%250A%2520%2520alt%253D%2522Lets%2520call%2520it%2520a%2520commet%2522%250A%252F%253E%250A"
                        style=" height: 170px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>

                </div>
            </div>

            <div class="divider"></div>
            <div class="content-warp">
                <div class="content-head">
                    <h2 class="highlight">Rounded Image</h2>
                </div>
                <div class="content">

                    <div class="example">
                        <img class="round-img"
                            src="https://images.pexels.com/photos/10824949/pexels-photo-10824949.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            alt="Lets call it a commet" />

                    </div>
                    <iframe class="code-example"
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=sharp&l=auto&width=680&ds=true&dsyoff=31px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%250A%2520%2520class%253D%2522round-img%2522%250A%2520%2520src%253D%2522..someimage.jpg%2522%250A%2520%2520alt%253D%2522Lets%2520call%2520it%2520a%2520commet%2522%250A%252F%253E%250A"
                        style="width: 266px; height: 170px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>

                </div>
            </div>

            <div class="divider"></div>
            <div class="content-warp">
                <div class="content-head">
                    <h2 class="highlight">Responsive</h2>
                </div>
                <div class="content">

                    <div class="example">
                        <img class="rsp-img"
                            src="https://images.pexels.com/photos/8511548/pexels-photo-8511548.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            alt="Beach" />

                    </div>
                    <iframe class="code-example"
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=sharp&l=auto&width=680&ds=true&dsyoff=31px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%250A%2520%2520class%253D%2522rsp-img%2522%250A%2520%2520src%253D%2522..someimage.jpg%2522%250A%2520%2520alt%253D%2522Lets%2520call%2520it%2520a%2520commet%2522%250A%252F%253E%250A"
                        style=" height: 170px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>

                </div>
            </div>





        </main>

    </section>
</body>

</html>


</html>
