<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../Assets/light.png">
    <link rel="stylesheet" href="../../utilsCSS/getting-started.css" />
    <link rel="stylesheet" href="./typography.css" />
    <link rel="stylesheet" href="../../utilsCSS/utilityClasses.css" />
    <script src="https://kit.fontawesome.com/e06444868d.js" crossorigin="anonymous"></script>
    <title>Typography | Avid</title>
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="/index.html">
                <img class="logo" src="../../Assets/light.png" />
            </a>
        </div>

        <nav class="navbar">
            <ul>
                <a href="/index.html">
                    <li class="highlight">Home</li>
                </a>
                <a href="./getting-started.html">
                    <li class="highlight">Documentation</li>
                </a>
            </ul>
        </nav>
    </header>
    <section class="documentation">
        <aside class="sidebar">
            <div class="list-topic">
                <h4 class="highlight">Get Started</h4>
            </div>
            <ul>
                <li><a href="../../getting-started.html">Introduction</a></li>
            </ul>

            <div class="list-topic">
                <h4 class="highlight">Components</h4>
            </div>
            <ul>
                <li><a href="../Cards/card.html">Card</a></li>
                <li><a href="../Avatar/avatar.html">Avatar</a></li>
                <li><a href="../Alert/alert.html">Alert</a></li>
                <li><a href="../Badge/badge.html">Badge</a></li>
                <li><a href="../Buttons/buttons.html">Button</a></li>
                <li><a href="../Image/image.html">Image</a></li>
                <li><a href="../Input/input.html">Input</a></li>
                <li><a href="../Navigation/navigation.html">Navigation</a></li>
                <li><a href="../SnackBar/snackbar.html">Snackbar</a></li>
                <li><a href="">Typography</a></li>
            </ul>
        </aside>
        <main class="main-content">
            <div class="content-head">
                <h2 class="highlight"> Typography</h2>
            </div>
            <div class="content">
                <p>
                    Typography for Avid contains info about Headings and Font used in this Library.
                </p>
            </div>


            <div class="divider"></div>
            <div class="content-warp">
                <div class="content-head">
                    <h2 class="highlight"> Headings</h2>
                </div>
                <div class="content">

                    <div class="example col-dir">
                        <h1>Heading 1</h1>
                        <h2>Heading 2</h2>
                        <h3>Heading 3</h3>
                        <h4>Heading 4</h4>
                        <h5>Heading 5</h5>
                        <h6>Heading 6</h6>
                    </div>

                    <iframe class="code-example"
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=sharp&l=auto&width=680&ds=true&dsyoff=31px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522example%2522%253E%250A%2520%2520%253Ch1%253EHeading%25201%253C%252Fh1%253E%250A%2520%2520%253Ch2%253EHeading%25202%253C%252Fh2%253E%250A%2520%2520%253Ch3%253EHeading%25203%253C%252Fh3%253E%250A%2520%2520%253Ch4%253EHeading%25204%253C%252Fh4%253E%250A%2520%2520%253Ch5%253EHeading%25205%253C%252Fh5%253E%250A%2520%2520%253Ch6%253EHeading%25206%253C%252Fh6%253E%250A%253C%252Fdiv%253E%250A"
                        style="height: 226px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>

                </div>
            </div>

            <div class="divider"></div>
            <div class="content-warp">
                <div class="content-head">
                    <h2 class="highlight"> font Sizes</h2>
                </div>
                <div class="content">

                    <div class="example col-dir">

                        <p class="font-xl">Extra large</p>
                        <p class="font-l">This is a large size paragraph</p>
                        <p class="font-m">This is a medium size paragraph</p>
                        <p class="font-s">This is a small</p>
                        <p class="font-xs">This is a extra small</p>


                    </div>
                    <iframe class="code-example"
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=sharp&l=auto&width=680&ds=true&dsyoff=31px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522example%2522%253E%250A%2520%2520%253Cp%2520class%253D%2522font-xs%2522%253EThis%2520is%2520a%2520extra%2520small%253C%252Fp%253E%250A%2520%2520%253Cp%2520class%253D%2522font-s%2522%253EThis%2520is%2520a%2520small%253C%252Fp%253E%250A%2520%2520%253Cp%2520class%253D%2522font-m%2522%253EThis%2520is%2520a%2520medium%2520size%2520paragraph%253C%252Fp%253E%250A%2520%2520%253Cp%2520class%253D%2522font-l%2522%253EThis%2520is%2520a%2520large%2520size%2520paragraph%253C%252Fp%253E%250A%2520%2520%253Cp%2520class%253D%2522font-xl%2522%253EExtra%2520large%253C%252Fp%253E%250A%253C%252Fdiv%253E%250A"
                        style="height: 207px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>

                </div>
            </div>

            <div class="divider"></div>
            <div class="content-warp">
                <div class="content-head">
                    <h2 class="highlight"> Aligned Texts</h2>
                </div>
                <div class="content">

                    <div class="example col-dir">
                        <div class="align-demo">
                            <p class="txt-left">left aligned text</p>

                        </div>
                        <div class="align-demo">
                            <p class="txt-center">center aligned text</p>

                        </div>
                        <div class="align-demo">
                            <p class="txt-right">right aligned text</p>
                        </div>
                    </div>
                    <iframe class="code-example"
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=sharp&l=auto&width=680&ds=true&dsyoff=31px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522example%2522%253E%250A%2520%2520%253Cdiv%2520class%253D%2522align-demo%2522%253E%250A%2520%2520%2520%2520%253Cp%2520class%253D%2522txt-left%2522%253Eleft%2520aligned%2520text%253C%252Fp%253E%250A%2520%2520%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522align-demo%2522%253E%250A%2520%2520%2520%2520%253Cp%2520class%253D%2522txt-center%2522%253Ecenter%2520aligned%2520text%253C%252Fp%253E%250A%2520%2520%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522align-demo%2522%253E%250A%2520%2520%2520%2520%253Cp%2520class%253D%2522txt-right%2522%253Eright%2520aligned%2520text%253C%252Fp%253E%250A%2520%2520%253C%252Fdiv%253E%250A%253C%252Fdiv%253E%250A"
                        style=" height: 282px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>

                </div>
            </div>

            <div class="divider"></div>
            <div class="content-warp">
                <div class="content-head">
                    <h2 class="highlight"> Underline and Strike</h2>
                </div>
                <div class="content">

                    <div class="example col-dir">
                        <p class="txt-underline">This is text underline</p>
                        <p class="txt-strike">This is text strikethrough</p>
                    </div>
                    <iframe class="code-example"
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=sharp&l=auto&width=680&ds=true&dsyoff=31px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522example%2522%253E%250A%2520%2520%253Cp%2520class%253D%2522txt-underline%2522%253EThis%2520is%2520text%2520underline%253C%252Fp%253E%250A%2520%2520%253Cp%2520class%253D%2522txt-strike%2522%253EThis%2520is%2520text%2520strikethrough%253C%252Fp%253E%250A%253C%252Fdiv%253E%250A"
                        style=" height: 151px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>

                </div>
            </div>
        </main>

    </section>
</body>

</html>
