.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: var(--primary-color);
  color: var(--white-color);
  padding: 1rem;
}
.nav div {
  color: inherit;
}

.nav nav {
  color: inherit;
}
.nav ul {
  color: inherit;
}

.nav div i {
  font-size: 1.2rem;
  color: inherit;
}

.nav div h3 {
  display: inline-block;
  margin-left: 1rem;
  color: inherit;
}

.nav li {
  list-style: none;
  display: inline-block;
  font-size: 1.2rem;
  margin-right: 1rem;
  color: inherit;
}
